CHECK POINT4.txt
[{"id":"514020b0.6a5ff","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b1126a83.3a85c8","type":"http in","z":"514020b0.6a5ff","name":"setGPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":150,"y":240,"wires":[["a20cf7e3.286fd8","4cec58e.78be2a8"]]},{"id":"a20cf7e3.286fd8","type":"function","z":"514020b0.6a5ff","name":"set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":300,"wires":[["4af3a916.ce4d58"]]},{"id":"4af3a916.ce4d58","type":"rpi-gpio out","z":"514020b0.6a5ff","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":400,"y":320,"wires":[]},{"id":"4cec58e.78be2a8","type":"function","z":"514020b0.6a5ff","name":"return F","func":"msg.payload=\"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["bb75d048.61f6c","a33a0ce0.c1492"]]},{"id":"bb75d048.61f6c","type":"http response","z":"514020b0.6a5ff","name":"","statusCode":"","headers":{},"x":610,"y":240,"wires":[]},{"id":"a33a0ce0.c1492","type":"debug","z":"514020b0.6a5ff","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":340,"wires":[]},{"id":"357f2825.94c748","type":"http in","z":"514020b0.6a5ff","name":"","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":70,"y":400,"wires":[["88bb0dda.f4ca4","b5bde5b6.693028"]]},{"id":"b5bde5b6.693028","type":"function","z":"514020b0.6a5ff","name":"set to LOW","func":"msg.payload=\"GPIO5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":480,"wires":[["bb75d048.61f6c","a33a0ce0.c1492"]]},{"id":"88bb0dda.f4ca4","type":"function","z":"514020b0.6a5ff","name":"set to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":360,"wires":[["4af3a916.ce4d58"]]}]