CHECK POINT5.txt
[{"id":"7994316e.5565d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"38b252ad.0eac0e","type":"http in","z":"7994316e.5565d","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":90,"y":80,"wires":[["20bcf58d.038aca"]]},{"id":"5eb60601.8afc38","type":"rpi-gpio in","z":"7994316e.5565d","name":"gpio4","pin":"7","intype":"up","debounce":"25","read":true,"x":90,"y":180,"wires":[["3d010a6b.8c31a6"]]},{"id":"3d010a6b.8c31a6","type":"function","z":"7994316e.5565d","name":"set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":160,"wires":[["c3bdec50.21184"]]},{"id":"20bcf58d.038aca","type":"function","z":"7994316e.5565d","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\")\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":60,"wires":[["c3bdec50.21184","90fc6cb9.eb5c1"]]},{"id":"c3bdec50.21184","type":"http response","z":"7994316e.5565d","name":"","statusCode":"","headers":{},"x":480,"y":100,"wires":[]},{"id":"90fc6cb9.eb5c1","type":"debug","z":"7994316e.5565d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":460,"y":200,"wires":[]}]