CHECK POINT1.txt
[{"id":"dfcb771b.40c4c8","type":"tab","label":"BUTTON¢Ú¢Ó¢Ò","disabled":false,"info":""},{"id":"e5f0ae97.c919d","type":"rpi-gpio in","z":"dfcb771b.40c4c8","name":"button","pin":"5","intype":"up","debounce":"25","read":true,"x":150,"y":220,"wires":[["cf97827b.f837e","616df670.0da3e8"]]},{"id":"cf97827b.f837e","type":"debug","z":"dfcb771b.40c4c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":200,"wires":[]},{"id":"bd87e1c1.d3ae5","type":"rpi-gpio out","z":"dfcb771b.40c4c8","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":620,"y":280,"wires":[]},{"id":"616df670.0da3e8","type":"switch","z":"dfcb771b.40c4c8","name":"if in put is1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":280,"wires":[["6909c090.4c8b5"],["1c1dbdf9.e7d732"]]},{"id":"6909c090.4c8b5","type":"change","z":"dfcb771b.40c4c8","name":"CH TO 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":260,"wires":[["bd87e1c1.d3ae5"]]},{"id":"1c1dbdf9.e7d732","type":"change","z":"dfcb771b.40c4c8","name":"CH TO 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":320,"wires":[["bd87e1c1.d3ae5"]]}]