CHECK POINT3.txt
[{"id":"1d819d5d.d07f63","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"d1adf899.8d4448","type":"inject","z":"1d819d5d.d07f63","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":970,"y":100,"wires":[["7a9cbe71.4176c"]]},{"id":"7a9cbe71.4176c","type":"function","z":"1d819d5d.d07f63","name":"payload","func":"msg.headers={\n    deviceKey: \"1mOUe8ZVclT0CimZ\"\n};\nmsg.payload=\"DTS11,,25.3\";\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":120,"wires":[["73f32fb2.10868"]]},{"id":"73f32fb2.10868","type":"http request","z":"1d819d5d.d07f63","name":"","method":"POST","ret":"txt","url":"https://api.mediatek.com/mcs/v2/devices/DpwJPYEJ/datapoints.csv","tls":"","x":1330,"y":120,"wires":[["7a349f9c.583e6","4441a26.5a8745c"]]},{"id":"4441a26.5a8745c","type":"debug","z":"1d819d5d.d07f63","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1670,"y":200,"wires":[]},{"id":"7a349f9c.583e6","type":"http response","z":"1d819d5d.d07f63","name":"","statusCode":"","headers":{},"x":1510,"y":200,"wires":[]},{"id":"9e54f532.20c118","type":"inject","z":"1d819d5d.d07f63","name":"","topic":"","payload":"","payloadType":"date","repeat":"6","crontab":"","once":true,"onceDelay":0.1,"x":950,"y":240,"wires":[["268d604a.e8606"]]},{"id":"268d604a.e8606","type":"function","z":"1d819d5d.d07f63","name":"payload","func":"msg.headers={\n    deviceKey: \"1mOUe8ZVclT0CimZ\"\n};\nmsg.payload=\"DTS11E,,99\";\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":260,"wires":[["18b5df41.bf76d1"]]},{"id":"18b5df41.bf76d1","type":"http request","z":"1d819d5d.d07f63","name":"","method":"POST","ret":"txt","url":"https://api.mediatek.com/mcs/v2/devices/DpwJPYEJ/datapoints.csv","tls":"","x":1310,"y":260,"wires":[["7a349f9c.583e6","4441a26.5a8745c"]]}]